[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=HexTool
Exec=/usr/bin/invoker --single-instance --splash /opt/n9hextool/qml/n9hextool/splash.jpg --type=d -s /opt/n9hextool/bin/n9hextool
Icon=/usr/share/icons/hicolor/80x80/apps/n9hextool80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
